@using CMS.Controllers
@using CMS.ViewModels
@model CallbackFormViewModel

@using (Html.BeginUmbracoForm<FormController>(nameof(FormController.HandleCallbackForm), FormMethod.Post, new { novalidate = "novalidate", id = "callbackForm" }))
{
    <div class="input-container">

        <div class="input-group">
            <label class="sr-only" asp-for="Name">@Html.T("forms.fullName")</label>
            <input autocomplete="on" id="Name" asp-for="Name" type="text" placeholder="@Html.T("forms.fullName")" required>
            <span asp-validation-for="Name"></span>
        </div>

        <div class="input-group">
            <label class="sr-only" asp-for="Phone">@Html.T("forms.phone")</label>
            <input id="Phone" asp-for="Phone" type="text" placeholder="@Html.T("forms.phone")" required>
            <span asp-validation-for="Phone"></span>
        </div>

        <div class="input-group">
            <label class="sr-only" asp-for="Email">@Html.T("forms.emailAddress")</label>
            <input id="Email" asp-for="Email" type="email" placeholder="@Html.T("forms.emailAddress")" required>
            <span asp-validation-for="Email"></span>
        </div>

        <div class="input-group select-wrapper">
            <label class="sr-only" asp-for="SelectedOption">@Html.T("forms.selectAdvisor")</label>
            <select id="SelectedOption" asp-for="SelectedOption" required>
                @foreach (var option in Model.Options ?? Enumerable.Empty<string>())
                {
                    <option value="@option">@option</option>
                }
            </select>
            <i class="fa-solid fa-chevron-down"></i>
        </div>
    </div>

    <button type="submit" class="btn-primary">@Html.T("common.submit")</button>

    @if (TempData["FormSuccess"] != null)
    {
        <span class="form-message success">
            @TempData["FormSuccess"]
        </span>
    }
    else if (TempData["FormError"] != null)
    {
        <span class="form-message error">
            @TempData["FormError"]
        </span>
    }
}