@using CMS.Controllers
@using CMS.ViewModels
@model QuestionFormViewModel

@using (Html.BeginUmbracoForm<FormController>(nameof(FormController.HandleQuestionForm), FormMethod.Post, new { novalidate = "novalidate", id = "questionForm" }))
{
    <div class="input-container">

        <div class="input-group">
            <label class="sr-only" asp-for="Name">@Html.T("forms.fullName")</label>
            <input id="Name" asp-for="Name" type="text" placeholder="@Html.T("forms.fullName")" required>
            <span asp-validation-for="Name"></span>
        </div>

        <div class="input-group">
            <label class="sr-only" asp-for="Email">@Html.T("forms.emailAddress")</label>
            <input id="Email" asp-for="Email" type="email" placeholder="@Html.T("forms.emailAddress")" required>
            <span asp-validation-for="Email"></span>
        </div>


        <div class="input-group">
            <label class="sr-only" asp-for="Question">@Html.T("forms.question")</label>
            <textarea id="Question" asp-for="Question" type="text" placeholder="@Html.T("forms.question")" required></textarea>
            <span asp-validation-for="Question"></span>
        </div>

    </div>

    <button type="submit" class="btn-primary">@Html.T("common.submit")</button>

    @if (TempData["FormSuccess"] != null)
    {
        <span class="form-message success">
            @TempData["FormSuccess"]
        </span>
    }
    else if (TempData["FormError"] != null)
    {
        <span class="form-message error">
            @TempData["FormError"]
        </span>
    }
}