@using CMS.ViewModels
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ServiceDetail>
@{
	Layout = "baseLayout.cshtml";
}

@if (Model.Name == "Risk Management")
{
    <section class="service-detail-section">

        <aside class="widget">
            @Html.GetBlockListHtml(Model.Widgets)
        </aside>

        <div class="service-detail-content">
            <div class="hero-image-container">
                @if (Model.HeroImage != null)
                {
                    <img src="@Model.HeroImage.Url()" alt="@Model.HeroImageDescription" />
                }
            </div>
            <div class="rte">@Html.Raw(Model.BodyText)</div>
        </div>

    </section>

    @Html.GetBlockListHtml(Model.Sections)

    <partial name="Partials/Sections/_contactInfo" />
}
else
{
    <partial name="Partials/Shared/_underConstruction" />
}