@using Umbraco.Cms.Web.Common.PublishedModels
@using Umbraco.Cms.Core.Models.Blocks
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    var siteSettings = Umbraco.ContentAtRoot()
        .DescendantsOrSelf<SiteSettings>()
        .FirstOrDefault();

    var address = siteSettings?.Address ?? Html.T("common.noAddressFound");
    var logoImg = siteSettings?.LogoImage;
    var socials = new BlockListModel(siteSettings?.Value<IList<BlockListItem>>("socialMediaPlatformList") ?? new List<BlockListItem>());
    var currentLang = Html.CurrentLang();
}

<header>
    <nav class="top-nav">
        <a class="address-link" href="https://www.google.com/maps/search/@address" target="_blank">@address</a>

        <div class="social-media-container">
            @foreach (var item in socials)
            {
                var content = item.Content;
                var platform = content.Value<string>("platformName")?.ToLowerInvariant()?.Trim();
                var url = content.Value<string>("platformAccountUrl");

                if (!string.IsNullOrWhiteSpace(url) && !string.IsNullOrWhiteSpace(platform))
                {
                    <a href="@url"
                       target="_blank"
                       rel="noopener"
                       class="social @platform"
                       aria-label="@platform"></a>
                }
            }
        </div>
    </nav>
    <nav class="main-navigation">

        <a class="logo-link" aria-label="@Html.T("header.homePageAriaLabel")" href="@Model.Root()?.Url()">
            @if (logoImg != null)
            {
                <img src="@logoImg.Url()" alt="@logoImg.Name" />
            }
            else
            {
                <span>Onatrix</span>    
            }
            
        </a>

        <partial name="Partials/Shared/_pageNavigation" />

        <div class="search-container">
            <i class="fa-solid fa-magnifying-glass" aria-label="@Html.T("header.searchAriaLabel")"></i>
        </div>

        <div class="language-selector">
            <select id="language-select" aria-label="@Html.T("header.languageLabel")">
                @if (currentLang == "sv")
                {
                    <option value="sv" selected>Svenska</option>
                    <option value="en">English</option>
                }
                else
                {
                    <option value="sv">Svenska</option>
                    <option value="en" selected>English</option>
                }
            </select>
        </div>

        <partial name="Partials/Shared/_hamburgerMenu" />
    </nav>

</header>