@model TeamMember

<figure class="team-member-card">
    <div class="img-container">
        @if (Model.TeamMemberImage != null)
        {
            <img src="@Model.TeamMemberImage.Url()" alt="@Model.TeamMemberName" />
        }
    </div>
    <figcaption>
        <h5>@Model.TeamMemberName</h5>
        <p>@Model.TeamMemberRole</p>
    </figcaption>
</figure>


@* <figure class="team-member-card">
    <div class="img-container">
        <img src="@member.TeamMemberImage?.Url()" alt="@member.TeamMemberName" />
    </div>
    <figcaption>
        <h5>@member.TeamMemberName</h5>
        <p>@member.TeamMemberRole</p>
    </figcaption>
</figure> *@